
<h1> Assassins </h1>
      
      <table>
            
              <tr>
                <th>ASSASSINS</th>
                <th>CODE NAMES</th>
                <th>WEAPONS</th>
                <th>CONTACT INFO</th>
                <th>AGE</th>
                <th>PRICE</th>
                <th>RATING</th>
                <th>NO. OF KILLS</th>
              </tr>
              <% assassins.forEach(function(assassin) { %>
              <tr>
                <td><%= assassin.full_name %></td>
                <td><%= assassin.code_names %></td>
                <td><%= assassin.weapon %></td>
                <td><%= assassin.contact_info %></td>
                <td><%= assassin.age %></td>
                <td><%= assassin.price %></td>
                <td><%= assassin.rating %></td>
                <td><%= assassin.kills %></td>
              </tr>
        <% }); %>
      </table>
<a href="new_assassin">
<button id= 'newAssassin'>New Assassin</button>
</a>