<head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Active Contracts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
      <link rel="stylesheet" href="styles.css">
  </head>
  <% include ../header.ejs %>
  <body>
      <a href="/new_assassin">
          <p id= 'newAssassinBtn'>New Assassin</p>
      </a>
     <section  class="gallery-block cards-gallery">
        <div class="container">
            <div class="heading">
              <h2>Active Assassins</h2>
            </div>
            <div id = "bg-div2" class="row">
        <% assassins.forEach(function(assassin) { %>
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0 transform-on-hover">
                      <a class="lightbox" href='<%= assassin.photo %>'>
                        <img src='<%= assassin.photo %>' alt="Card Image" class="card-img-top">
                      </a>
                        <div class="card-body"><a href='/assassins/<%= assassin.assassin_id %>'>
                            <h6><%= assassin.full_name %></h6>
                <p class="text-muted card-text">'<%= assassin.code_names %>'</p>
                <p class="text-muted card-text">Weapon:  <%= assassin.weapon %></p>
                <p class="text-muted card-text">Contact Info:  <%= assassin.contact_info %></p>
                <p class="text-muted card-text">Age:  <%= assassin.age %></p>
                <p class="text-muted card-text">Price:  <%= assassin.price %></p>
                <p class="text-muted card-text">No. of Kills:  <%= assassin.kills %></p>
                <a href="/update_assassin/<%=assassin.assassin_id %>"><button id= 'editAssassin'>Edit</button></a>
                <form action ="/delete_assassin/<%= assassin.assassin_id %>" method="POST"> <button id= 'deleteAssassin'>Delete</button></form>
                        </div>
                    </div>
                </div>
        <% }); %>
            </div>
        </div>
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
      <script>
          baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>
    
  </body>
  </html>